p{
color: green;
font-size: 35px;
background-color: aquamarine;
position: absolute;
top: 30%;
min-width: 30%;


}
p{
    color: red;
    font-size: 35px;
    background-color: aquamarine;
    position: absolute;
    top: 30%;
    min-width: 30%;
    
    
    }

